<% include partials/header %>


<h2>this is the book list page</h2>

<a href="/books/new">Add a new book!</a></a>

<% books.forEach(function(book){ %>
    <div>
        <h4> <%= book.name %>   </h4>
    </div>

<% }); %>

<a href="/">go home</a>


<% include partials/footer %>